<div class="container mt-4">
  <h3 class="mb-4"><%= @company.name %></h3>
  
  <p class="lead">Employees: <%= @company.employee_count %></p>
  <p class="lead">Reimbursement Total: <%= @company.total_reimbursement_claims %></p>

  <h3 class="mt-5">Employees</h3>
  <ul class="list-group">
    <% @company.employees.each do |employee| %>
      <li class="list-group-item">
        <%= link_to employee.name, company_employee_path(@company, employee), class: 'text-decoration-none' %>
      </li>
    <% end %>
  </ul>
  <br>
  <%= link_to 'Add Employee', new_company_employee_path(@company), class: 'btn mb-3 main-btn' %>
  
</div>
