<h1>New Reimbursement for <%= @employee.name %></h1>

<%= form_with model: [@company, @employee, @reimbursement] do |f| %>
  <div>
    <%= f.label :purpose, "Purpose" %>
    <%= f.text_field :purpose %>
  </div>
  
  <div>
    <%= f.label :amount, "Amount" %>
    <%= f.number_field :amount %>
  </div>
  
  <div>
    <%= f.label :date_of_expenditure, "Date of Expenditure" %>
    <%= f.date_field :date_of_expenditure %>
  </div>
  
  <div>
    <%= f.submit "Submit Reimbursement" %>
  </div>
<% end %>

<%= link_to 'Back to Employee', company_employee_path(@company, @employee) %>
