<!DOCTYPE html>
<html>
<head>
  <title>Employee Reimbursement Portal</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Companies', companies_path %></li>
        <li><%= link_to 'New Company', new_company_path %></li>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
        <%= link_to 'Sign Up', new_user_registration_path %>
      <% end %>
    </ul>
  </nav>

  <div class="container">
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
